<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBm7NBlkwEjCSa3ALadThvikuSyBVk5Dzc</string>
	<key>GCM_SENDER_ID</key>
	<string>300187642211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Saahir.Opti</string>
	<key>PROJECT_ID</key>
	<string>peer2peer-618fb</string>
	<key>STORAGE_BUCKET</key>
	<string>peer2peer-618fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300187642211:ios:505ea805853878ec908b56</string>
</dict>
</plist>